h1 {
    color: blue;
}
.primario {
    color: #ccc;
}

.secundario {
    color: #00ff88;
    font-size: 12pt;
}

#unico, #secundario {
    color: black;
    border: 1px solid green;
    text-decoration: underline;
    width: 200px;
    height: 200px;
    position: relative;
}
#unico{

}
#secundario{
    float: right;
}
#pai {
    width: 400px;
    border: 2px solid red;
}

#unico p {
    background-color: yellow;
    color: #fff;
}

#unico p:first-child {
    background-color: red;
}